$primary: #cae8d5;
$secondary: #84a9ac;

a {
  text-decoration: none;
  color: black;
}

.mat-card-answer {
  margin-left: 10vw;
  margin-right: 10vw;
}

.mat-card-title-1 {
  text-decoration: underline;
}
